# Python
**/__pycache__/
*.py[cod]

# Environments
.env
frontend/.env

# Node / JS
node_modules/
frontend/node_modules/

# Build outputs
backend/
frontend/build/
frontend/public/  <-- (Only ignore this if your build script generates it)

# Misc
frontend/summary.pdf
